.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.test.js
**/*.spec.js
test-*.js
package-lock.json
yarn.lock
.DS_Store
*.log
coverage/
.nyc_output/
**/node_modules/**
out/src/